* {
    margin: 0;
    padding: 0;
}
ul li {
    display: flex;
    gap: 10px;
    font-family: "Kumbh Sans", sans-serif;
}
.shopimg {
    border-radius: 6px;
}
h1,
.navbar a,
.sneaker-logo,
.description-shoes,
.money,
.addcart,
.off,
.percentoff,
.plus,
.minus,
.num {
    font-family: "Kumbh Sans", sans-serif;
}

h1 {
    font-weight: 700;
}

/* navbar section  */
.profile-img {
    height: 55px;
    border: 3px solid white;
}

.profile-img:hover {
    padding: 0;
    border: 3px solid orange;
    border-radius: 50%;
}

.navbar {
    overflow: hidden;
    width: 90%;
    margin-top: 50px;
    margin-left: 100px;
}

.navbar a {
    float: left;
    padding: 18px;
    color: hsl(220, 14%, 75%);
    text-decoration: none;
    line-height: 45px;
    min-height: 70px;
}

.navbar .nav-item:hover {
    color: black;
    border-bottom: 5px solid hsl(26, 100%, 55%);
    line-height: 40px;
}

.navbar .logo {
    font-size: 35px;
    color: black;
    font-weight: 700;
}

.navbar-right {
    float: right;
    margin-right: 100px;
    display: flex;
    padding-top: 10px;
}

.svg {
    width: 100%;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
.cart {
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    padding: 20px;
}

.devider {
    margin-left: auto;
    margin-right: auto;
    color: hsl(220, 14%, 75%);
    width: 80%;
}

/* display section  */

.shopping-section {
    margin-top: 2rem;
    display: table;
    width: 100%;
    height: 40px;
}
.display-div,
.display-div1 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    height: 100%;
}

/* shopping text section  */
.mobileprev {
    display: none;
}
.mobilenex {
    display: none;
}

.display-div1 {
    text-align: left;
}

.sneaker-logo {
    margin-top: 5rem;
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 100%;
}
.label-of-shoes {
    font-size: 3rem;
    margin-bottom: 3rem;
}
.sized-div {
    width: 60%;
}
.description-shoes {
    font-size: 16px;
    color: hsl(219, 9%, 45%);
    margin-bottom: 3rem;
    line-height: 1.4rem;
}
.miniflex {
    display: flex;
}

.money {
    font-size: 150%;
    font-weight: 700;
}
.off {
    margin-left: 1rem;
    background: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    text-align: center;
    height: 25px;
    width: 45px;
    border-radius: 4px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
    font-size: 120%;
}
.percentoff {
    color: hsl(220, 14%, 75%);
    font-weight: 700;
    text-decoration: line-through;
    margin-bottom: 2rem;
}
.addcart {
    width: 70%;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-style: none;
    border-radius: 7px;
    font-weight: 700;
    margin-left: 1rem;
}
.addcart:hover {
    background-color: hsl(25, 100%, 70%);
}
.plus {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.minus {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.plus:hover,
.minus:hover {
    color: hsl(25, 100%, 70%);
}
.plus,
.minus {
    color: hsl(26, 100%, 55%);
}
.plus,
.minus,
.num {
    width: 15%;
    background-color: hsl(223, 64%, 98%);
    border-style: none;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
}
.num {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.buttons-div {
    display: flex;
}
.cart-icon {
    margin-right: 0.5rem;
    fill: white;
    width: 10%;
    height: 15.5px;
}

/* slides section  */
.Slide {
    display: none;
    width: 100%;
}
.Slide1 {
    width: 80%;
    display: none;
}
.big-img {
    vertical-align: middle;
    width: 100%;
    height: 450px;
    border-radius: 15px;
}
.thumbImage {
    width: 100%;
    border-radius: 15px;
}
.slideContainer {
    width: 65%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail:after {
    content: "";
    display: table;
    clear: both;
}
.thumbnail {
    text-align: center;
}
.imageCol {
    width: 15%;
    margin-right: 10px;
    display: inline-block;
}
.imageCol:nth-of-type(1) {
    margin-left: 10px;
}
.thumbImage {
    height: 100%;
    height: auto;
}
.thumbImage:hover {
    opacity: 0.5;
}

/* The modal  */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.Slide1 {
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    margin: 8% auto;
    padding: 20px;
    width: 45%;
    height: 100%;
}

.close {
    left: 85%;
    position: relative;
    color: white;
    font-size: 55px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.next {
    border-radius: 50%;
    margin-right: 40px;
    position: relative;
    width: 10%;
    min-height: 70px;
    float: right;
    top: 250px;
    border-style: none;
}
.prev {
    border-radius: 50%;
    position: relative;
    min-height: 70px;
    width: 10%;
    top: 250px;
    border-style: none;
}

/* shopping cart modal  */
/* The Modal (background) */
.shopping-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
}

/* Modal Content/Box */

.shoppingcart-content {
    text-align: left;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    height: 30%;
    position: absolute;
    top: 60px;
    right: 5%;
    /* left: 10%; */
    border-radius: 10px;
}

/* accordion nav */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.topnav .closebtn {
    display: none;
}

/* this part is for the modal shopping div  */
.cartmodal {
    margin-top: 10px;
    margin-bottom: 10px;
}
.shopping-cartline {
    margin-bottom: 20px;
    color: hsl(220, 14%, 75%);
    /* width: 100%; */
}

/* .topnav {
    display: flex;
} */

/* media querys
 */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1080px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav .icon {
        position: absolute;
        display: block;
        margin-top: 30px;
        text-align: center;
        width: 50px;
        height: 25px;
    }
    .topnav .logo {
        margin-left: 50px;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1080px) {
    .topnav.responsive {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: white; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px;
        transition: 0.6s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .topnav.responsive .icon {
        display: none;
    }
    .topnav.responsive a {
        padding: 10px 20px 10px 50px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.6s;
        font-weight: 700;
    }
    .topnav.responsive .logo {
        display: none;
    }
    .topnav.responsive .closebtn {
        position: absolute;
        top: 0;
        right: 165px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        margin-top: 0px;
        margin-left: 20px;
        max-width: auto;
        height: 80px;
    }
    .navbar .logo {
        font-size: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .topnav .icon {
        width: 30px;
        height: 80px;
        top: -30px;
        padding-left: 10px;
    }

    .shopping-section {
        margin-top: 0rem;
        display: table;
        width: 100%;
        height: 40px;
    }

    .display-div {
        float: left;
        display: table-cell;
        vertical-align: top;
        width: 100%;
        height: 100%;
    }

    .display-div1 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        float: left;
        display: table-cell;
        vertical-align: top;
        width: 100%;
        height: 100%;
    }
    .big-img {
        border-radius: 0px;
        height: 100%;
        width: 100%;
    }
    .slideContainer {
        width: 100%;
        margin: 0px;
        height: 100%;
        padding: 0px;
    }
    .devider {
        display: none;
    }
    .modal-content {
        display: block;
    }
    .mobilediv {
        position: absolute;
        height: 500px;
        width: 100%;
    }

    .mobilenex {
        display: block;
        min-width: 50px;
        min-height: 50px;
        float: right;
        margin-top: 45%;
        margin-right: 20px;
        border-radius: 50%;
        border-style: none;
    }
    .mobileprev {
        display: block;
        float: left;
        min-width: 50px;
        min-height: 50px;
        margin-top: 45%;
        margin-left: 20px;
        border-radius: 50%;
        border-style: none;
    }
    .thumbnail {
        display: none;
    }
    .sized-div {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        /* margin-top: 0px; */
    }
    .sneaker-logo {
        margin-top: 3rem;
        font-size: 155%;
    }
    .description-shoes {
        margin-top: 0px;
        font-size: 150%;
        line-height: 40px;
    }
    .label-of-shoes {
        margin-bottom: 20px;
    }

    .buttons-div {
        margin-top: 1rem;
        flex-wrap: wrap;
        width: 100%;
    }
    .addcart {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        width: 100%;
        height: 50px;
        margin-bottom: 2rem;
        border-radius: 10px;
    }
    .minus,
    .num,
    .plus {
        width: 33.333333%;
        margin-left: auto;
        margin-right: auto;
    }
    .miniflex {
        gap: 30px;
        width: 100%;
    }
    .mobile-div {
        width: 100%;
        display: flex;
        float: right;
    }
    .money {
        font-size: 200%;
    }
    .off {
        font-size: 200%;
        margin: 0;
        text-align: none;
        width: fit-content;
        height: fit-content;
    }
    .percentoff {
        gap: 20px;
        font-size: 200%;
    }
    .percent-off-mobile {
        gap: 200px;
    }
    .navbar .navbar-right {
        float: right;
        margin: 0;
        padding-top: 20px;
    }

    .svg {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0px;
    }
    .profile-img {
        max-width: 30%;
        height: auto;
    }
    .shopping-modal {
        font-family: "Kumbh Sans", sans-serif;
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
    }
    .shoppingcart-content {
        text-align: left;
        background-color: #fefefe;
        /* margin: 8% 0% 0% 65%; */
        border: 1px solid #888;
        width: 100%; /* Could be more or less, depending on screen size */
        max-height: 400px;
        position: absolute;
        top: 60px;
        right: 5%;
        /* left: 10%; */
        border-radius: 10px;
        max-width: 90%;
    }
}

/* miguel youre trying to figure out how to add gap with the 250 dollars and the 50% */
